.search-wrapper {
  margin: 200px auto 0;
  .search-brand {
    width: 272px;
    height: 92px;
    margin: 0 auto;
    background: url(https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png) center no-repeat;
  }
  .search-box {
    margin-top: 34px;
    text-align: center;
    input {
      outline: none;
      border: none;
      width: 443px;
      height: 35px;
      padding-left: 8px;
      border: 1px solid #d9d9d9;
      font-size: 18px;
      &:hover {
        border-color: #aaa;
      }
      &:focus {
        border-color: #03a9f4;
      }
    }
    .search-btn {
      // float: left;
    }
  }
}