.search-wrapper {
  margin: 200px auto 0;
  .search-logo {
    position: relative;
    width: 272px;
    height: 92px;
    margin: 0 auto;
    &.google {
      background: url(images/googlelogo_color_272x92dp.png) center no-repeat;
      background-size: 100% auto;
    }
    &.baidu {
      background: url(images/bd_logo1_31bdc765.png) center no-repeat;
      background-size: 100% auto;      
    }
    &.bing {
      background: url(images/bing-logo.png) center no-repeat;
      background-size: auto 100%;
    }
    &:hover .more-engine {
      opacity: 1;
    }
    .more-engine {
      opacity: 0;
      position: absolute!important;
      right: -48px;
      bottom: -12px;
      transition: opacity 0.5s;
    }
  }
  .search-box {
    margin-top: 34px;
    text-align: center;
    input {
      outline: none;
      border: none;
      width: 443px;
      height: 35px;
      padding-left: 8px;
      border: 1px solid #d9d9d9;
      font-size: 18px;
      &:hover {
        border-color: #aaa;
      }
      &:focus {
        border-color: #03a9f4;
      }
    }
    .search-btn {
      // float: left;
    }
  }
}