* {
  margin: 0;
  padding: 0;
}
html {
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto.woff2);
}
@font-face {
  font-family: RobotoLight;
  src: url(../fonts/Roboto-Light.woff2);
}
body {
  font-family: Roboto, "微软雅黑";
  font-size: 16px;
}
h1 {
  // color: red;
}