* {
  margin: 0;
  padding: 0;
}
html {
}
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto.woff2);
}
@font-face {
  font-family: RobotoLight;
  src: url(../fonts/Roboto-Light.woff2);
}
body {
  font-family: Roboto, "微软雅黑";
  font-size: 16px;
  overflow-x: hidden;
}
h1 {
  // color: red;
}
body, div, section, header, aside {
  &::-webkit-scrollbar-track-piece {
    background-color: #fff;
  }
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #f5f5f5;
    &:vertical:hover {
      background: #f0f0f0;
    }
  }
}