.apps-component h1 {
  margin: 32px 0 32px 24px;
  font-size: 18px;
  font-weight: normal;
  color: #009688;
}

.apps-collection {
  &.empty {
    overflow: hidden;
    height: 240px;
    background: url(images/empty-state-items.svg) center 10% no-repeat;
    background-size: 124px auto;
    p.empty-text {
      margin-top: 150px;
      text-align: center;
      color: #999;
    }
  }
  .app-box {
    width: 25%;
    display: inline-block;
    margin-bottom: 38px;
    dl {
      dt {
        text-align: center;
        img {
          width: 42px;
        }
      }
      dd {
        text-align: center;
        font-size: 14px;
        width: 50%;
        margin: 8px auto 0;
        // height: 1em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.hide {
          // display: none;
          visibility: hidden;
        }
      }
    }
  }
}