.apps-component h1 {
  margin: 32px 0 32px 24px;
  font-size: 18px;
  font-weight: normal;
  color: #009688;
}

.apps-collection {
  &.empty {
    overflow: hidden;
    height: 240px;
    background: url(images/empty-state-items.svg) center 10% no-repeat;
    background-size: 124px auto;
    text-align: center;
    p.empty-text {
      margin: 150px 0 20px;
      color: #999;
    }
  }
  .app-box {
    width: 25%;
    display: inline-block;
    margin-bottom: 38px;
    text-align: center;
    dl {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 110px;
      dt {
        img {
          width: 42px;
          height: auto;
          margin: 0 auto;
        }
      }
      dd {
        text-align: center;
        font-size: 14px;
        width: 60%;
        margin-top: 4px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &.hide {
          display: none;
          // visibility: hidden;
        }
      }
    }
  }
}