.setup-page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  // width: 100vw;
  // height: 100vh;
  background-color: #ebebeb;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  @keyframes show-setup-page {
    0% {
      opacity: 0;
      transform: translateY(48px);
    }
    60% {
      opacity: 1;
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes hide-setup-page {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  &.show-setup-page {
    animation: show-setup-page 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.hide-setup-page {
    animation: hide-setup-page 0.2s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
  .setup-header-bar {
    position: absolute;
    top: 0;
  }
  & > section {
    height: calc(~"100vh - 56px");
    margin-top: 56px;
    overflow-y: auto;
  }
  .bar-left {
    display: flex;
    .bar-label {
      display: flex;
      align-items: center;
      margin-left: 12px;
      height: 48px;
      font-size: 18px;
    }
  }
  .setup-section {
    padding: 28px;
    &:last-child {
      padding-top: 0;
    }
  }
  .setup-content {
    box-sizing: border-box;
    width: 600px;
    // height: 300px;
    padding: 32px;
    margin: 0 auto;
    .setup-title {
      padding-left: 5px;
      margin: 16px 0;
      font-weight: normal;
      font-size: 14px;
    }
    .toggle-box {
      display: flex;
      align-items: center;
      .toggle-wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        height: 48px;
      }
    }
    .toggle {
      flex: 1;
      // margin-bottom: 24px;
    }
    .toggle > div {
      justify-content: space-between;
    }
    &.about {
      height: auto;
      .name {
        margin: 14px 0;
        font-size: 16px;
        .version {
          margin-left: 10px;
          font-size: 14px;
        }
      }
      .donor-feedback {
      }
      .intro {
        margin-top: 24px;
        font-size: 14px;
        color: #bbb;
        a {
          color: inherit;
        }
      }
      .tip {
        display: flex;
        align-items: center;
        height: 20px;
        margin-top: 24px;
        span {
          margin-left: 8px;
          color: #999;
          font-size: 13px;
          flex: 1;
        }
      }
      .hot-key-list {
        display: flex;
        justify-content: space-between;
        // width: 241px;
        width: 215px;
        padding-left: 26px;
        margin: 8px 0;
        span {
          color: #757575;
          font-size: 13px;
        }
      }
    }
  }
}