.header-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  
  .tool-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    .bar-left {
      margin-left: 4px;
    }
    .bar-right {
      margin-right: 4px;
    }
  }
}
