.desktop
  box-sizing border-box
  height 100vh
  padding-top 64px
  overflow hidden

flex-center()
  display flex
  flex-direction column
  align-items center
  justify-content center

.page
  display grid
  align-items stretch
  justify-items stretch
  position relative
  width 100%
  height 100%
  overflow hidden

.wrap
  height 100%
  flex-center()
  user-select none
  &[aria-grabbed=true] {
    visibility hidden
  }

  &.grabbing
    position absolute
    top 0
    left 0
    z-index 2000
    .shortcut
      cursor grabbing
    .shortcut-name
      visibility hidden
  &.grabbed
    transition transform .2s cubic-bezier(0.333, 0, 0, 1)

  .shortcut
    flex-center()
    flex-direction column
    text-decoration none
    opacity 1
    transition .2s opacity ease-in-out
    &:hover
      opacity 1
    &.touched .shortcut-icon
      &::before
      &::after
        opacity 1
        transform translate(-50%, -50%) scale(1)
    
  .shortcut-icon
    position relative
    width 5.5vw
    height 5.5vw
    max-width 96px
    max-height 96px
    min-width 48px
    min-height 48px
    &::before
    &::after
      content ""
      z-index -1
      display block
      position absolute
      left 50%
      top 50%
      border-radius 50%
      transform translate(-50%, -50%) scale(0.7)
      opacity 0
      transition .15s transform ease-in, .15s opacity ease-in
    &::before
      width 96%
      height 96%
      background-color #fff
    &::after
      width 110%
      height 110%
      background-color rgba(255, 255, 255, 0.5)

    img
      position relative
      width 100%
      height 100%
      object-fit cover


  .shortcut-name
    max-width 8em
    margin-top 6px
    min-height calc(1em * 1.75)
    color #fff
    text-shadow 0 1px 2px rgba(0, 0, 0, 0.36)
    white-space nowrap
    overflow hidden
    text-overflow ellipsis


.widget-wrap
  // flex-center()

  h1
    // font normal 100px "Product Sans Thin"
    font normal 100px "Product Sans Light"
    // font 300 100px "Roboto"
    color #fff
